<div class="row">
  <div class="col-md-4 mt-4"
       *ngFor="let item of (items$ | async)">
    <app-core-preview
      [item]="item"
      [previewOpen]="previewOpen"
      [editOpen]="editOpen"
      (clickPreview)="clickPreview($event)"
      (cardDelete)="deleteItem($event)"
      (cardEdit)="cardEdit($event)"
      (itemUpdate)="updateCard($event)">
    </app-core-preview>
  </div>
  <div class="col-md-12">
    <app-core-add-form
      (newItem)="newItem($event)">
    </app-core-add-form>
  </div>
</div>
